

.nav {
    background: transparent;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: flex-end;

    position: fixed;
    top: 0%;

    width: 100%;
    height: 15%;

    z-index: 999;
}
.btn {
    display: inline-block;

    background: transparent;
    backdrop-filter: blur(10px);

    color: #121B26;

    text-align: center;
    text-decoration: none;
    font-size: 36px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #485B73;
    color: white;
}