@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

.cardsContainer {
    background: linear-gradient(#364659, #485B73);

    min-height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: flex-start;
}

.card {
    height: 500px;
    width: 400px;
    background-image: linear-gradient(163deg, #38FFEE 0%, #FFB938 100%);
    border-radius: 20px;
    transition: all .3s;
    margin: 1.5rem;

}

.card2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(#121B26, #121526);
    border-radius: 1rem;
    transition: all .2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   }

   .cardImg {
    height: 265px;
    width: auto;
    padding-left: 1.5rem;

    border-radius: 5px;

   } .cardInformation {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    
   } .cardName {
    font-size: 32px;
    margin: 1.5rem 0 0 0;

   } .cardDescription {
    font-size: 20px;
    text-wrap: wrap;
   }
   
   .card2:hover {
    transform: scale(0.95);
    border-radius: 14px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(153, 193, 242, 0.50);/*56, 146, 255*/
   }