@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono&display=swap');

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    margin: 0px 0px 1rem 0px;
}
a {
    font-family: 'Roboto Mono', monospace;
}

.footer {
    width: 100%;
    height: 50vh;
    background: linear-gradient(#0C121A, #121B26);
    color: white;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    } 
    
    .linkContainer {
        width: 300px;
        display: flex;
        flex-direction: column;  
        margin-left: 2rem; 

    }.link {
        margin-left: 0.5rem;
}

.emailContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #99C1F2;
}
.emailButton {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: #253140;
    color: white;
    border-radius: 4px;
    margin-top: 1rem;
   }
   
   .emailButton:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #253140 0%, #485B73 100%);
   }
   
   .emailButton:active {
    transform: translate(0em, 0.2em);
   }